/*
	
VARIABLES

	*/

//
// Colors
//

// Purples

$indigo:	#002663;
$purple:	#77216f;

// Blues
$aqua:		#058db0;
$lavender:	#d0d7e8;
$teal:		#009bbb;

// Grays and Whites
$eggshell:	#f5f5f5;
$lightgray:	#dbdbdb;
$gray:		#8b8d8e;
$darkgray:	#4d4f53;
$white:		#ffffff;

// Misc

$yellow:	#f2af00;
